<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blog}">List blog</a>

<form action="/blog/save" method="post" th:object="${blog}" >
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" th:field="*{author}"/>
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" id="content" th:field="*{content}"/>
    </div>

    <div>
        <label for="titleBlog">Title</label>
        <input type="text" id="titleBlog" th:field="*{titleBlog}"/>
    </div>
    <label>
        <select th:field="*{category}">
            <option th:each="category: ${categories}" th:value="${category.idCategory}" th:text="${category.nameCategory}">
            </option>
        </select>
    </label>
    <button type="submit">Save</button>
</form>
</body>
</html>