<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<a th:href="@{/song/create}">Add new</a>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Name Song</th>
        <th scope="col">Singer</th>
        <th scope="col">Kind Of Music</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song,iStat : ${songList}" >
        <th scope="row" th:text="${iStat.count}"></th>
        <td th:text="${song.getNameSong()}"></td>
        <td th:text="${song.getSinger()}"></td>
        <td th:text="${song.getKindOfMusic()}"></td>
    </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>