<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/city/list" class="nav-link px-2 link-secondary">Trang Chủ</a></li>
                <li><a th:href="@{/city/add}" class="nav-link px-2 link-body-emphasis">Thêm Thành Phố</a></li>
                <li><a th:href="@{/city/list}" class="nav-link px-2 link-body-emphasis">Thành Phố</a></li>
                <li><a th:href="@{/quocgia/list}" class="nav-link px-2 link-body-emphasis">Quốc Gia</a></li>
            </ul>

            <form action="/city/list" method="get" class="row g-2">
                <div class="col-auto">
                    <label for="inputSearch" class="visually-hidden">Password</label>
                    <input type="text" class="form-control" id="inputSearch" name="thanhphosearch"
                           placeholder="Tìm Tên Thành Phố ">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Tìm Kiếm Thành Phố</button>
                </div>
            </form>
        </div>
    </div>
</header>
<body>
<!--message-->
<div th:if="${message}" >
    <span th:text="${message}"></span>
</div>


<div class="container">
    <a class="btn btn-primary my-3" th:href="@{/city/add}" role="button">Thêm Mới Thành Phố</a>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Thành Phố</th>
            <th scope="col">Quốc Gia</th>
            <th scope="col" colspan="3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pho,loop:${phoPage}">
            <th th:text="${loop.count +phoPage.size * phoPage.number}" scope="row">1</th>
            <td th:text="${pho.getNameCity()}"></td>
            <td th:text="${pho.getQuocGia().getNameNational()}"></td>
            <td><a role="button" class="btn btn-primary" th:href="@{/city/view/__${pho.getIdCity()}__}">View</a></td>
            <td><a role="button" class="btn btn-warning" th:href="@{/city/edit/__${pho.getIdCity()}__}">Edit</a></td>
            <td>
                <button th:attr="data-id=${pho.idCity},data-name=${pho.nameCity}"
                        onclick="deleteCity(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                        type="button" class="btn btn-danger"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Xóa Thành Phố
                </button>
                <!--                        th:attr="onclick=|sendData('${thanhpho.id}','${thanhpho.tenThanhPho}')|" type="button" class="btn btn-danger"-->

        </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:if="${phoPage.hasPrevious()}">
                <a class="page-link" th:href="@{/city/list(page=${phoPage.number - 1})}"> Trang trước</a>
            </li>
            <li th:if="${phoPage.hasNext()}">
                <a class="page-link" th:href="@{/city/list(page=${phoPage.number + 1})}">Trang sau</a>
            </li>

        </ul>
    </nav>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Notification</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-delete">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a role="button" id="del-product" class="btn btn-danger">Corfirm</a>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteCity(id, name) {
        console.log(id);
        console.log(name);
        document.getElementById("modal-body-delete").innerHTML = "Bạn muốn xóa thành phố tên:  " + name;
        document.getElementById("del-product").href = "/city/delete/" + id ;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>