<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h3>Xem chi tiết thành phố</h3>

<div class="container">
    <a class="btn btn-primary my-3" th:href="@{/city/list}" role="button">Quay lại trang chủ</a>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Tên Thành Phố</th>
            <th scope="col">Quốc Gia</th>
            <th scope="col">Diện tích (m2)</th>
            <th scope="col">Dân Số</th>
            <th scope="col">GPA</th>
            <th scope="col">Mô Tả</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${thanhPho}">
            <td th:text="${thanhPho.getNameCity()}"></td>
            <td th:text="${thanhPho.getQuocGia().getNameNational()}"></td>
            <td th:text="${thanhPho.getArea()}"></td>
            <td th:text="${thanhPho.getDanSo()}"></td>
            <td th:text="${thanhPho.getGDP()}"></td>
            <td th:text="${thanhPho.getMoTa()}"></td>

        </tbody>
    </table>
    <!-- Pagination -->

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>