.form-check{
    display: flex;
    align-items: center;
}
.gift-wrapping{
    background-color: #cbcaca;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
}
.description{
    margin:  10px 50px;
    text-align: justify;
    font-family: sans-serif;
}
.btn-buy{
    margin: 30px 10px 10px 0;
    padding: 20px;
}